.producto-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    font-family: sans-serif;
    width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.producto-card h3 {
    margin-top: 0;
    color: #333;
}
body {
    text-align: center;
}
